{% load static %}
{% load i18n %}
{% load currency_filters %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/dashboard.css'  %}" media="print">
</head>
<div style="width: 8.5in; background-color: white;">
    <div class="page-header row" style="border-bottom: 2px solid black; margin-bottom: 5px;">
        <div class="col">
            <div class="col-xs-6 row">
                <!--
                <div class="col-xs-4 thumbnail">
                    <img src="">
                </div>
                -->
                <h1 class="text-center">Tiger Den <small>Order #{{grouporder.number}} fulfillment</small></h1>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-2">
                
            </div>
        </div>
    </div>
    <div class="container" style="width: 8.5in;">
        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <th>{% trans "Supervisor" %}</th>
                                <td>{{ grouporder.user.label }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Location" %}</th>
                                <td>{{ grouporder.location }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Time of Purchase" %}</th>
                                <td>{{ grouporder.date_placed }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Total" %}</th>
                                <td>{{ grouporder.total_excl_tax|currency:grouporder.currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <h2>Order(s)</h2>
        <div class="container" style="width: 8.25in;">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Product" %}</th>
                    <th>{% trans "Options" %}</th>
                </thead>
                <tbody>
                    {% for key, line in grouporder.get_all_lines_sorted.items %}
                        <tr>
                            <td><span style="font-size: large;">&#9744;</span>{{ line.quantity }}</td>
                            <td>
                                {{ line.title }}
                            {% if grouporder.status != "Cancelled" and not grouporder.is_expired %}
                                <span class="btn-container">
                                    <btn class="btn btn-danger" onclick="productOutofStock({{grouporder.id}}, {{line.product_id}})">{% trans "Out of Stock" %}</btn>
                                </span>
                            {% endif %}
                            </td>
                            <td class="text-center" style="max-width: 2in;">
                            {% for attribute in line.attributes %}
                                {% if attribute.value != "" %}
                                <span style="display: inline-block; margin-right: 0.1in;">
                                    <strong>{{ attribute.option }}: </strong>{{ attribute.value }}
                                </span>
                                {% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>