{% load i18n %}
{% load static %}
{% load currency_filters %}
{% for grouporder in grouporders %}
    <tr id="group_{{grouporder.id}}" data-id="{{grouporder.id}}" data-number="{{grouporder.number}}" class="grouporder {% if grouporder.status == "Processed" %} success {% elif grouporder.status == "Cancelled" %} danger {% else %} info {% endif %}">
        <td><input type="checkbox" name="selected_grouporder" class="selected_grouporder" value="{{ grouporder.id }}"/></td>
        <td><a href="{% url 'dashboard:grouporder-detail' number=grouporder.number %}">{{ grouporder.number }}</a></td>
        <td>{{ grouporder.total_excl_tax|currency:grouporder.currency }}</td>
        <td>{{ grouporder.num_orders }}</td>
        <td>{{ grouporder.status|default:"-" }}</td>
        <td>
            {% if grouporder.user %}
                <a href="{% url 'dashboard:user-detail' pk=grouporder.user.id %}">{{ grouporder.user.label|default:"-" }}</a>
            {% else %}
                &lt;{% trans "Deleted" %}&gt;
            {% endif %}
        </td>
        <td>{{ grouporder.location }}</td>
        <td>{{ grouporder.date_placed }}</td>
        <td style="{% if grouporder.status != 'Processed' and grouporder.status != 'Cancelled' %} width: 300px; {% else %} width: 250px; {% endif %}">
            <!--
            <a class="btn btn-info" data-toggle="collapse" data-parent="#grouporders" href=".orders_{{grouporder.id}}">{% trans "View" %}</a>
            -->
            {% if grouporder.status != "Processed" and grouporder.status != "Cancelled" %} 
                <btn class="btn btn-success" onclick="PrintInvoice('{{grouporder.id}}', true)">Print Order(s)</btn>
                <btn class="btn btn-danger" onclick="changeGroupOrderStatus('{{grouporder.id}}', 'Cancelled')">Cancel</btn>
            {% else %}
                <btn class="btn btn-primary" onclick="PrintInvoice('{{grouporder.id}}')">Print Order(s)</btn>
            {% endif %}
            <btn class="btn btn-primary" data-toggle="modal" data-target="#print_modal_{{grouporder.id}}">View Invoice</btn>
            <div class="modal fade" id="print_modal_{{grouporder.id}}" style="overflow: auto;">
                <div class="modal-sm" style="width: 8.5in; margin: 0 auto;">
                    <div id="print_fulfill_{{grouporder.id}}">
                        {% include "oscar/dashboard/grouporders/fulfillment.html" with grouporder=grouporder %}
                    </div>
                </div>
                <div class="modal-sm" style="width: 8.5in; margin: 0 auto;">
                    <div id="print_invoice_{{grouporder.id}}">
                        {% include "oscar/dashboard/grouporders/invoice.html" with grouporder=grouporder %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}