{% load static %}
{% load i18n %}
{% load currency_filters %}
{% load custom_tags %}
 
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/dashboard.css'  %}" media="print">
</head>
<div style="width: 8.5in; background-color: white;">
    <div class="page-header row" style="border-bottom: 2px solid black; margin-bottom: 5px;">
        <div class="col">
            <div class="col-xs-6 row">
                <!--
                <div class="col-xs-4 thumbnail">
                    <img src="">
                </div>
                -->
                <h1 class="text-center">Tiger Den <small>Order #{{grouporder.number}} invoice</small></h1>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-2">
                
            </div>
        </div>
    </div>
    <div class="container" style="width: 8.5in;">
        <div class="row">
            <div class="col">
                <div class="col-xs-12">
                    <table class="table table-bordered table-condensed">
                        <tbody>
                            <tr>
                                <th>Supervisor</th>
                                <td>{{ grouporder.user.label }}</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>{{ grouporder.location }}</td>
                            </tr>
                            <tr>
                                <th>Time of Purchase</th>
                                <td>{{ grouporder.date_placed }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ grouporder.total_excl_tax|currency:grouporder.currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <h2>Order(s)</h2>
        <div class="container" style="width: 8.25in;">
            <table class="table table-bordered table-condensed">
                <thead>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Options</th>
                    <th>Cost</th>
                </thead>
                <tbody>
                    {% for order in grouporder.orders.all %}
                        <tr class="text-dark">
                            <th colspan="4">
                                Customer: 
                                {% if order.guest_email %}
                                    {{ order.guest_email }} (guest)
                                {% elif order.user %}
                                    {{ order.user.label }}
                                {% else %}
                                    User has deleted his or her account.
                                {% endif %}
                                <span style="float: right;">
                                {% if order.status == "Cancelled" %}
                                    Cancelled
                                    <s>
                                        Order #{{order.number}}
                                    </s>
                                {% else %}
                                    Order #{{order.number}}
                                {% endif %}
                                </span>
                            </th>
                        </tr>
                        {% for line in order.lines.all %}
                            <tr>
                                <td>{{ line.quantity }}</td>
                                <td>
                                {% if line.status == "Cancelled" %}
                                    <s>
                                        {{ line.title }}
                                    </s>
                                {% else %}
                                    {{ line.title }}
                                {% endif %}
                                </td>
                                <td class="text-center" style="max-width: 2in;">
                                {% for attribute in line.attributes.all %}
                                    {% if attribute.value != "" %}
                                    <span style="display: inline-block; margin-right: 0.1in;">
                                        <strong>{{ attribute.option }}: </strong>{{ attribute.value }}
                                    </span>
                                    {% endif %}
                                {% endfor %}
                                </td>
                                <td class="text-right">
                                {% if line.status == "Cancelled" %}
                                    <s>
                                {% endif %}
                                {% if order.lines.count == 1 %}
                                    {{ order.total_cash|currency:order.currency }}
                                    {% if order.total_credit and order.total_credit > 0.00 %}
                                        ({{ order.total_credit|currency:order.currency }} in credit)
                                    {% endif %}
                                {% else %}
                                    {{ line.line_price_excl_tax|currency:order.currency }}
                                {% endif %}
                                {% if line.status == "Cancelled" %}
                                    </s>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% if order.lines.count > 1 %}
                        <tr>
                            <td></td>
                            <td></td>
                            <th class="text-right">Order total: </th>
                            <th class="text-right">
                                {% if order.status == "Cancelled" %}
                                    <s>
                                {% endif %}
                                {{ order.total_cash|currency:order.currency }}
                                {% if order.total_credit and order.total_credit > 0.00 %}
                                    ({{ order.total_credit|currency:order.currency }} in credit)
                                {% endif %}
                                {% if order.status == "Cancelled" %}
                                    </s>
                                {% endif %}
                            </th>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>