{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}

<div id="basket_totals">
    <table class="table table-condensed table-responsive">
        <tbody>
            <tr>
                <th colspan="2"><h3>{% trans "Your Cart" %}</h3></th>
            </tr>
            {% block discount_totals %}
            {% endblock %}

            {% block basket_total %}
                {# No discounts to basket #}
                <tr>
                    <th class="total">{% trans "Your cart total" %}</th>
                    <th class="total align-right">
                        {{ basket.total_excl_tax|currency:basket.currency }}
                    </th>
                </tr>
            {% endblock %}

            {% block shipping_totals %}
            {% endblock %}

            {% block tax_totals %}
            {% endblock %}

            {% block post_order_action_totals %}
            {% endblock %}

            {% block order_total %}
            {% endblock %}
        </tbody>
    </table>
</div>