{% extends "oscar/basket/partials/basket_content.html" %}
{% load i18n %}

{% block vouchers %}
    <div class="col-sm-6"></div>
{% endblock %}

{% block savedbasket %}
    {% if request.user.is_authenticated and request.user.is_supervisor %}
        <div class="page-header action">
            <h1>Student/Guest Order Requests</h1>
        </div>
        <div id="reqs_cart">
            {% include 'oscar/basket/partials/requests_content.html' %}
        </div>
    {% endif %}
{% endblock %}

{% block baskettotals %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Your Total" %}</h2>
        </div>
        {% include 'oscar/basket/partials/basket_totals.html' with editable=1 %}
    </div>
{% endblock baskettotals %}