{% load i18n %}
{% load purchase_info_tags %}
{% load image_tags %}
{% load currency_filters %}

{% with reqs=order_requests %}
    {% if reqs %}
    <div class="basket-title hidden-xs">
        <div class="row">
            <h2 class="col-sm-6 h3"></h2>
            <p class="col-sm-3 h3">{% trans "Quantity" %}</p>
            {% if not reqs_placement %}
            <p class="col-sm-1 h3 align-right">{% trans "Price" %}</p>
            {% endif %}
            <p class="col-sm-2 h3 align-right">{% trans "Total" %}</p>
        </div>
    </div>
    <div class="basket_summary" id="reqs">
        {% for req in reqs %}
        <div class="order-req" data-req-id="{{req.id}}">
            <h4 style="margin: 0;">
                {% if req.guest_email %}
                    {{ req.guest_email }}
                {% elif req.user %}
                    {{ req.user.label }}
                {% else %}
                    {% trans "User has deleted his or her account." %}
                {% endif %}
                <small>{% trans "Request" %} #{{req.number}}</small>
                {% if not reqs_placement %}
                <form action="{% url 'basket:req-cancel' pk=req.id %}" style="display: inline-block; margin-bottom: 0;" method="POST">
                    {% csrf_token %}
                    <input type="submit" data-behaviours="remove" value="{% trans "Remove" %}" class="btn btn-link">
                </form>
                {% endif %}
            </h6>
        {% for line in req.lines.all %}
            {% purchase_info_for_line request line as session %}
            <div class="basket-items">
                <div class="row">
                    <div class="col-sm-2">
                        {% with image=line.product.primary_image %}
                            {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                            <a href="{{ line.product.get_absolute_url }}">
                                <img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}"/>
                            </a>
                        {% endwith %}
                    </div>
                    <div class="col-sm-4">
                        <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                    </div>
                    <div class="col-sm-3 col-xs-4">
                        <div class="checkout-quantity">
                            {{line.quantity}}
                        </div>
                    </div>
                    <div class="col-sm-1 hidden-xs">
                        {% if not line.unit_price_incl_tax and not line.unit_tax_excl_tax %}
                            <p class="align-right">&mdash;</p>
                        {% else %}
                            <p class="price_color align-right">
                                {{ line.unit_price_excl_tax|currency:request.basket.currency }}
                            </p>
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-xs">
                        {% if not line.line_price_incl_tax and not line_price_excl_tax %}
                            <p class="align-right">&mdash;</p>
                        {% else %}
                            <p class="price_color align-right">
                                {{ line.line_price_excl_tax|currency:request.basket.currency }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% endfor %}
        <div id="reqs-extra">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <div class="sub-header">
                        <h2>
                            {% trans "Group Order Total" %}
                            {% if not reqs_placement %}
                            <form action="{% url 'basket:req-cancel' pk=1 %}" style="display: inline-block; margin-bottom: 0;" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="remove_all" value="true">
                                <input type="submit" data-behaviours="remove" value="{% trans "Remove All" %}" class="btn btn-link">
                            </form>
                            {% endif %}
                        </h2>
                    </div>
                    <div>
                        {% include 'oscar/basket/partials/supervisor_totals.html' with editable=1 %}
                    </div>
                </div>
            </div>
        
            {% if not reqs_placement %}
            <div class="form-group clearfix">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <a href="{% url 'checkout:index' %}" class="btn btn-lg btn-primary btn-block">{% trans "Proceed to checkout" %}</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% elif not request.user.get_order_requests.exists %}
        <p id="empty">{% trans "You have no order requests." %}</p>
    {% endif %}
{% endwith %}
