{% load i18n %}
{% load currency_filters %}
{% load image_tags %}

{% spaceless %}
{% with reqs=order_requests %}
    {% if reqs %}
        {% for req in reqs %}
            <li class="order-req" data-req-id="{{req.id}}" style="margin: 0;">
                <h5 style="margin: 0;">
                    {% if req.guest_name %}
                        {{ req.guest_name }}
                    {% elif req.guest_email %}
                        {{ req.guest_email }}
                    {% elif req.user %}
                        {{ req.user.label }}
                    {% else %}
                        {% trans "User has deleted his or her account." %}
                    {% endif %}
                    <small>{% trans "Request" %} #{{req.number}}</small>
                </h5>
            {% for line in req.lines.all %}
                <li>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="image_container">
                                {% with image=line.product.primary_image %}
                                    {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ line.product.get_absolute_url }}">
                                        <img class="thumbnail" src="{{ thumb.url }}" alt="{{ line.product.get_title }}">
                                    </a>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <p><strong><a href="{{ line.product.get_absolute_url }}">{{ line.product.title }}</a></strong></p>
                            {% include "oscar/basket/partials/line_attributes.html" with line=line %}
                        </div>
                        <div class="col-sm-1 align-center"><strong>{% trans "Qty" %}</strong> {{ line.quantity }}</div>
                        <div class="col-sm-3 price_color align-right">{{ line.unit_price_excl_tax|currency:request.basket.currency }}</div>
                    </div>
                </li>
            {% endfor %}
            </li>
        {% endfor %}
    {% elif not request.user.get_order_requests.exists %}
        <li id="empty">{% trans "You have no order requests." %}</li>
    {% endif %}
{% endwith %}
{% endspaceless %}