{% load i18n %}
{% load currency_filters %}
{% load custom_tags %}

<div id="basket_totals">
    <table class="table table-sm">
        <tbody>
            <tr>
                <th colspan="2"><h3>{% trans "Your Group Cart" %}</h3></th>
            </tr>
            {% block discount_totals %}
            {% endblock %}

            {% block basket_total %}
                {# No discounts to basket #}
                <tr>
                    <th class="total">{% trans "Your group cart total" %}</th>
                    <th class="total align-right">
                        {% if group_order %}
                            {{ group_order.total_excl_tax|currency:group_order.currency }}
                        {% else %}
                            {{ basket.total_excl_tax|add:request.user.get_reqs_total|currency:basket.currency }}
                        {% endif %}
                    </th>
                </tr>
            {% endblock %}

            {% block shipping_totals %}
            {% endblock %}

            {% block tax_totals %}
            {% endblock %}

            {% block post_order_action_totals %}
            {% endblock %}

            {% block order_total %}
            {% endblock %}
        </tbody>
    </table>
</div>