<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="bg-dark w-100 h-100 text-center">
        <div class="container">
            <h1 class="display-3">Teacher Registration</h1>
            <div class="mx-auto w-50 text-center">
                <form action="{% url 'teacher' %}" method="POST" class="justify-content-center">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                        <input type="submit" value="Register" class="form-control my-2 btn-success w-50 mx-auto">
                    </div>
                    
                </form>
            </div>
            
        </div>
    </body>
</html>