{% extends "oscar/dashboard/users/detail.html" %}
{% load i18n %}
{% load currency_filters %}
{% load custom_tags %}

{% block user_general_info %}
    <div class="col-md-12 table-responsive">
        <div class="table-header">
            <h2>{% trans "General" %}</h2>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ customer.get_full_name|default:"-" }}</td>
            </tr>
            <tr>
                <th>{% trans "Email" %}</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>{% trans "Active" %}?</th>
                <td>
                    {{ customer.is_active|yesno:_("Yes,No") }}
                </td>
            </tr>
            <tr>
                <th>{% trans "Superuser" %}?</th>
                <td>{{ customer.is_superuser|yesno:_("True,False") }}</td>
            </tr>
            <tr>
                <th>{% trans "Staff" %}?</th>
                <td>{{ customer.is_staff|yesno:_("True,False") }}</td>
            </tr>
            <tr>
                <th>{% trans "Supervisor" %}?</th>
                <td>
                    {{ customer.is_supervisor|yesno:_("True,False") }}
                    <form method="POST" style="display: inline-block;">
                        {% csrf_token %}
                        <input type="hidden" name="user_action" value="change_supervisor">
                        {% if customer.is_supervisor %}
                        <input type="submit" class="btn btn-danger" value="{% trans "Disable Supervisor" %}">
                        {% else %}
                        <input type="submit" class="btn btn-success" value="{% trans "Enable Supervisor" %}">
                        {% endif %}
                    </form>
                </td>
            </tr>
            <tr>
                <th>{% trans "Credit Account" %}</th>
                <td>
                {% if customer.accounts.exists %}
                    <form method="POST" class="form-inline" id="change_credit">
                        {% csrf_token %}
                        <a href="{% url 'accounts_dashboard:accounts-detail' pk=customer.accounts.first.pk %}">${{ customer.accounts.first.balance }}</a>
                        <div class="form-group" style="margin-left:10px">
                            <input type="hidden" name="user_action" value="credit_action">
                            <input type="hidden" name="credit_action" value="">
                            <input type="number" class="form-control inline-block" name="amount" min="0.00" step="0.01">
                            <input type="submit" class="btn btn-success" value="{% trans "Deposit" %}">
                            <input type="submit" class="btn btn-danger" value="{% trans "Withdraw" %}">
                        </div>
                    </form>
                {% else %}
                    <form method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="hidden" name="user_action" value="make_credit_acct">
                            <input type="submit" class="btn btn-primary" value="{% trans "Create Credit Account" %}">
                        </div>
                    </form>
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans "Last login" %}</th>
                <td>{{ customer.last_login }}</td>
            </tr>
            <tr>
                <th>{% trans "Date joined" %}</th>
                <td>{{ customer.date_joined }}</td>
            </tr>
            {% if customer.userrecord %}
                {% with record=customer.userrecord %}
                    <tr>
                        <th>{% trans "Products viewed" %}</th>
                        <td>{{ record.num_product_views|default:0 }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Number of orders" %}</th>
                        <td>{{ record.num_orders|default:0 }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Number of ordered items" %}</th>
                        <td>{{ record.num_order_items|default:0 }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Total spent" %}</th>
                        <td>{{ record.total_spent|default:0|currency }}</td>
                    </tr>
                {% endwith %}
            {% endif %}
            <!--
            <tr>
                <th>{% trans "Reviews written" %}</th>
                <td>{{ customer.reviews.count }}</td>
            </tr>
            -->
            {% if customer.email %}
                <tr>
                    <th>{% trans "Actions" %}</th>
                    <td>
                        <form id="password_reset_form" action="{% url 'dashboard:user-password-reset' pk=customer.id %}" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-lg" data-loading-text="{% trans 'Sending...' %}">{% trans 'Send password reset email' %}</button>
                        </form>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block tab_nav %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#user_orders" data-toggle="tab">{% trans "Orders" %}</a></li>
        <li><a href="#user_transfers" data-toggle="tab">{% trans "Transactions" %}</a></li>
    </ul>
{% endblock %}

{% block user_addresses %}
    <div id="user_transfers" class="tab-pane">
        <div class="panel-heading">{% trans "Transaction overview" %}</div>
        <div class="panel-body table-responsive">
            {% if customer.accounts %}
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans "Transfer" %}</th>
                        <th>{% trans "Amount" %}</th>
                        <th>{% trans "Description" %}</th>
                        <th>{% trans "Authorised by" %}</th>
                        <th>{% trans "Date" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for txn in customer.accounts.first.transactions.all|order_by:'-date_created' %}
                    <tr>
                        <td><a href="{% url 'accounts_dashboard:transfers-detail' txn.transfer.reference %}">{{ txn.transfer }}</a></td>
                        <td>{{ txn.amount|currency }}</td>
                        <td>{{ txn.transfer.description|default:"-" }}</td>
                        <td>{{ txn.transfer.user|default:"-" }}</td>
                        <td>{{ txn.date_created }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "oscar/dashboard/partials/pagination.html" %}
            {% else %}
            <p>{% trans "No transactions." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block user_reviews %}{% endblock %}

{% block onbodyload %}
{{block.super}}

$("#change_credit input[type='submit']").click(function() {
    $("#change_credit input[name='credit_action']").val($(this).val().toLowerCase());
});

{% endblock %}