{% extends "oscar/basket/basket.html" %}

{% block navigation %}
    {% include "oscar/partials/nav_primary.html" with no_mobile_basket=True %}
{% endblock %}

{% block minibasket %}{% endblock %}

{% block content %}
    {% include 'oscar/basket/partials/basket_content.html' %}
{% endblock %}

{% block reqs_script %}
    {% if request.user.is_authenticated and request.user.is_supervisor %}
        async function updateReqsBasket() {
            cur_reqs = []
            $(".order-req").each(function() {
                cur_reqs.push($(this).attr("data-req-id"));
            });
            var newReqs = $(await $.ajax({
                url: "{% url "basket:reqs-cart" %}",
                type: "GET",
                data: {
                    cur_reqs: cur_reqs
                }
            }));
            if ((newReqs.attr("id") == "empty" && !$("#empty").length) ||
                (newReqs.find(".order-req").length && $("#empty").length)) {
                $("#reqs_cart").hide("normal", function() {
                    $("#reqs_cart").html(newReqs);
                    $("#reqs_cart").show("normal");
                });
            } else if (newReqs.find(".order-req").length) {
                if ($("#reqs-extra").length) {
                    $("#reqs-extra").html(newReqs.find("#reqs-extra").detach().html());
                }
                newReqs = newReqs.find(".order-req");
                newReqs.hide();
                $("#reqs").prepend(newReqs);
                newReqs.show("normal");
            }
        }

        setInterval(updateReqsBasket, 2500);
    {% endif %}
{% endblock %}