<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform startupTimeLimit="10" startupRetryCount="10" stdoutLogEnabled="true" processPath="C:\ProgramData\Jenkins\.jenkins\workspace\Tiger_Den_master\.venv\Scripts\python.exe" arguments="manage.py runserver">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="C:\ProgramData\Jenkins\.jenkins\workspace\Tiger_Den_master\tigerden" />
                <environmentVariable name="DJANGO_SETTINGS_MODULE" value="tigerden.settings" />
                <environmentVariable name="DJANGO_PRODUCTION" value="true" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>