<configuration>
  <system.webServer>
    <handlers>
      <add name="Django FastCGI Handler"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\ProgramData\Jenkins\.jenkins\workspace\Tiger_Den_master\.venv\Scripts\python.exe|C:\ProgramData\Jenkins\.jenkins\workspace\Tiger_Den_master\.venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\ProgramData\Jenkins\.jenkins\workspace\Tiger_Den_master\tigerden" />
    <add key="DJANGO_SETTINGS_MODULE" value="tigerden.settings" />
    <add key="DJANGO_PRODUCTION" value="true" />

    <!-- Optional settings -->
    <!-- <add key="WSGI_LOG" value="C:\Logs\my_app.log" /> -->
    <!-- <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" /> -->
    <!-- <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />     -->
    <!-- <add key="WSGI_PTVSD_SECRET" value="__secret_code__" /> -->
    <!-- <add key="WSGI_PTVSD_ADDRESS" value="ipaddress:port" /> -->
  </appSettings>
</configuration>