{% extends "oscar/dashboard/layout.html" %}
{% load dashboard_tags %}
{% load i18n %}
{% load static %}

{% block favicon %}
    <link rel="shortcut icon" href="{% static "images/logo_face.png" %}" />
{% endblock %}

{% block extrastyles %}
{{block.super}}
<style>
    small, .breadcrumb li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }
</style>
{% endblock %}

{% block navbar %}{% endblock %}

{% block dashboard_nav %}
    {% dashboard_navigation user as nav_items %}
    <nav class="navbar navbar-expand-sm static-top navbar-dark bg-dark navbar-primary">
        <a class="navbar-brand" href="{{ homepage_url }}">
            <img src="{% static "images/logo_face.png" %}" width="32">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottom_nav_bar" aria-controls="bottom_nav_bar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bottom_nav_bar">
            <ul class="navbar-nav flex-wrap">
                <li class="nav-item text-center navbar-text mt-1"><em>{{ user.get_full_name|default:request.user.email }}</em></li>
                {% for item in nav_items %}
                    <li class="nav-item {% if item.has_children %}dropdown{% endif %}">
                        <a class="nav-link {% if item.has_children %}dropdown-toggle{% endif %}"
                            href="{% if item.is_heading %}#{% else %}{{ item.url }}{% endif %}"
                            {% if item.has_children %}id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}
                        >
                            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                            {{ item.label }}
                        </a>
                        {% if item.has_children %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for subitem in item.children %}
                                    <a class="dropdown-item" href="{{ subitem.url }}">
                                        {% if subitem.icon %}<i class="{{ subitem.icon }}"></i>{% endif %}
                                        {{ subitem.label }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                <!--
                <li><a href="{{ homepage_url }}"><i class="icon-home"></i> {% trans "Return to site" %}</a></li>
                <li><a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a></li>
                <li><a href="{% url 'dashboard:logout' %}"><i class="icon-signout"></i> {% trans "Log out" %}</a></li>
                -->
            </ul>
        </div>
    </nav>
{% endblock %}