{% extends 'oscar/dashboard/catalogue/product_class.html' %}
{% load i18n %}

{% block dashboard_content %}
    {% if classes %}
        <div class="table-container table-repsonsive">
            <table class="table table-striped table-bordered table-hover">
                <caption><i class="icon-sitemap icon-large"></i>{% trans 'Product Types' %}</caption>
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Track stock?" %}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                        <tr>
                            <td><a href="{% url 'dashboard:catalogue-class-update' class.id %}">{{ class.name }}</a></td>
                            <td><a href="{% url 'dashboard:catalogue-class-update' class.id %}">{{ class.track_stock|yesno }}</a></td>
                            <td>
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button class="btn btn-default dropdown-toggle" type="submit" data-toggle="dropdown" aria-expanded="true">
                                            {% trans "Actions" %}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="nav dropdown-menu float-right">
                                            <li><a href="{% url 'dashboard:catalogue-class-update' pk=class.id %}">{% trans "Edit product type" %}</a></li>
                                            <li><a href="{% url 'dashboard:catalogue-class-delete' pk=class.id %}">{% trans "Delete" %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{% trans "There are no product types." %}</p>
    {% endif %}
{% endblock dashboard_content %}