{% extends "oscar/partials/nav_primary.html" %}
{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

{% block nav_classes %}navbar navbar-expand-sm navbar-dark bg-dark sticky-top{% endblock %}

{% block navbar_toggler %}
    <button class="navbar-toggler d-inline-block d-sm-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endblock %}

{% block navbar_basket %}
    {% if not no_mobile_basket %}
    <a class="btn btn-primary d-inline-block d-sm-none" href="{% url 'basket:summary' %}">
        <i class="fas fa-shopping-cart"></i>
        {% trans "Basket" %}
        {% if not request.basket.is_empty %}
            {% blocktrans with total=request.basket.total_excl_tax|currency:request.basket.currency %}
                Total: {{ total }}
            {% endblocktrans %}
        {% endif %}
        <span class="badge badge-warning req_cart_label" style="display: none;"></span>
    </a>
    {% endif %}
{% endblock %}

{% block nav %}
    {% include "oscar/partials/nav_accounts.html" %}
{% endblock %}