{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<div class="navbar primary navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            {# This is used in mobile view #}
            <a class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".primary-collapse">
                <span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </a>
        </div>

        {% if not no_mobile_basket %}
        <a class="btn btn-default navbar-btn btn-cart navbar-right visible-xs-inline-block" href="{% url 'basket:summary' %}">
            <i class="icon-shopping-cart"></i>
            {% trans "Basket" %}
            {% if not request.basket.is_empty %}
                {% blocktrans with total=request.basket.total_excl_tax|currency:request.basket.currency %}
                    Total: {{ total }}
                {% endblocktrans %}
            {% endif %}
            <span class="label label-warning req_cart_label" style="display: none;"></span>
        </a>
        {% endif %}

        <div class="navbar-collapse primary-collapse collapse">
            {% block nav_dropdown %}
                {% include "oscar/partials/nav_accounts.html" %}
            {% endblock %}
            {% include "oscar/partials/search.html" %}
        </div><!-- /navbar-collapse -->
    </div>
</div><!-- /navbar -->