{% extends "oscar/checkout/checkout.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load purchase_info_tags %}

{% block extrastyles %}
{{block.super}}
<style>
    .progress-bar-warning {
        background-color: #ffc107!important;
    }

    .text-warning {
        color: #ffc107!important;
    }
</style>
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="row shipping-payment">
        {% block supervisor_info %}
        {% endblock %}
        {% block delivery_info %}
        {% endblock %}
        {% block payment-method %}
        {% endblock %}
        {% block payment-details %}
        {% endblock %}
    </div>

    {% block order_contents %}
        <div class="sub-header">
            {% block order_contents_actions %}
                <a href="{% url 'basket:summary' %}" class="float-right">
                    {% trans "Edit order contents" %}
                </a>
            {% endblock %}

            <h2>{% trans "Order contents" %}</h2>
        </div>
        <div class="basket-title">
            <div class="row">
                <p class="col-sm-9 col-xs-6 h4">{% trans "Item" %}</p>
                <p class="col-sm-1 col-xs-3 h4 align-center">{% trans "Quantity" %}</p>
                <p class="col-sm-2 col-xs-3 h4 align-right">{% trans "Total" %}</p>
            </div>
        </div>
        {% for line in basket.all_lines %}
            {% purchase_info_for_line request line as session %}
            <div class="basket-items">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="image_container" style="min-height: 120px;">
                            {% with image=line.product.primary_image %}
                                {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                <a href="{{ form.instance.product.get_absolute_url }}">
                                    <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}">
                                </a>
                            {% endwith %}
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-7">
                        <h3 style="margin-bottom: 5px;">
                            <a href="{{ line.product.get_absolute_url }}">{{ line.product.title }}</a>
                        </h3>
                        <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span>
                        {% include "oscar/basket/partials/line_attributes.html" with line=line %}
                    </div>
                    <div class="col-sm-1 col-xs-2 align-center">
                        <p style="margin-top: 10px;">
                            {{ line.quantity }}
                        </p>
                    </div>
                    <div class="col-sm-2 col-xs-3 align-right">
                        <p class="price_color">
                            {% if not show_tax_separately and line.is_tax_known %}
                                {{ line.line_price_incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ line.line_price_excl_tax|currency:basket.currency }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-6">
                <div class="sub-header">
                    <h2>{% trans 'Totals' %}</h2>
                </div>
                {% include 'oscar/basket/partials/basket_totals.html' %}
            </div>
        </div>

    {% endblock order_contents %}

    {% block place_order %}
    {% endblock place_order %}

{% endblock content %}

{% block reqs_script %}{% endblock %}