{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="row shipping-payment">
        {% block supervisor_info %}
            <form action="{% url 'checkout:supervisor-info' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-large ship-address" data-loading-text="{% trans 'Submitting...' %}">{% trans "Submit" %}</button>
            </form>
        {% endblock supervisor_info %}
    </div>
{% endblock content %}