{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Delivery Info" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Delivery Info" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block delivery_info %}
<div class="col-sm-4"></div>
<form action="{% url 'checkout:delivery-info' %}" method="post" autocomplete="on" class="col-sm-4">
    {% csrf_token %}
    {{ form }}
    <button class="btn btn-primary btn-large" data-loading-text="{% trans 'Submitting...' %}">{% trans "Next" %}</button>
</form>
<div class="col-sm-4"></div>
{% endblock %}