{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment Method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Payment Method" %}
{% endblock %}

{% block order_contents %}
    {% if request.user.is_authenticated %}
        
    {% endif %}
{% endblock %}

{% block payment-method %}
<div class="col-sm-4"></div>
<form action="{% url 'checkout:payment-method' %}" method="post" autocomplete="off" class="col-sm-4">
    {% csrf_token %}
    {% include "oscar/partials/form_fields.html" with form=form %}
    <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
        {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
    </div>
</form>
<div class="col-sm-4"></div>
{% endblock payment-method %}

{% block reqs_script %}{% endblock %}