{% extends "oscar/checkout/preview.html" %}
{% load i18n %}

{% block title %}
    {% trans "Order" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Place order" %}
{% endblock %}

{% block place_order %}
    {{block.super}}
    {% if request.user.is_authenticated and request.user.is_supervisor %}
        {% include 'oscar/basket/partials/requests_content.html' with reqs_placement=True order_requests=request.user.get_order_requests %}
    {% endif %}
{% endblock %}

{% block reqs_script %}{% endblock %}