{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Supervisor Info" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Supervisor Info" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block supervisor_info %}
<div class="col-sm-4"></div>
<form action="{% url 'checkout:supervisor-info' %}" method="post" id="supervisor_info" autocomplete="off" class="col-sm-4">
    {% csrf_token %}
    {{ form }}
    <div class="col-sm-offset-4 col-sm-8" style="margin-top: 5px;">
        <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
        {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
    </div>
</form>
<div class="col-sm-4"></div>
{% endblock supervisor_info %}

{% block extrascripts %}
<script>
    $(function() {
        $('#supervisor_info').submit(function(event) {
            var value = $('input[name="supervisor"]').val();
            $('input[name="supervisor"]').val($('#list__supervisor-list [value="' + value + '"]').data('value'));
        });
    });
</script>
{% endblock %}

{% block reqs_script %}{% endblock %}