{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Supervisor Info" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=1 %}
{% endblock %}

{% block checkout_title %}{% trans "Supervisor Info" %}{% endblock %}

{% block order_contents %}{% endblock %}

{% block supervisor_info %}
<div class="col-sm-4"></div>
<form action="{% url 'checkout:supervisor-info' %}" method="post" id="supervisor_info" autocomplete="off" class="col-sm-4">
    {% csrf_token %}
    <input type="search" placeholder="Search for Supervisor" class="form-control" id="supervisor_search">
    {% include "oscar/partials/form_fields.html" with form=form %}
    <div class="col-sm-offset-3 col-sm-8" style="margin-top: 5px;">
        <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
        {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
    </div>
</form>
<div class="col-sm-4"></div>
{% endblock supervisor_info %}

{% block extrascripts %}
<script>
    $(function() {
        $("#supervisor_search").keyup(function (e) {
            var text = $(this).val(); 
            var options = $("#id_supervisor option").each(function() {
                var option = $(this); 
                var optionText = option.text(); 
                var lowerOptionText = optionText.toLowerCase();
                var lowerText = text.toLowerCase(); 
                var regex = new RegExp("^" + text, "i");
                var match = optionText.match(regex); 
                var contains = lowerOptionText.indexOf(lowerText) != -1;
                if (match || contains) {
                    $("#id_supervisor").val(option.val());
                    return false;
                }
                $("#id_supervisor").attr("selectedIndex", 0);
            });
        });
    });
</script>
{% endblock %}