{% extends "oscar/layout.html" %}

{% block extrastyles %}
{{block.super}}
<style>
    a article {
        color: black;
    }

    a li {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .product_pod {
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        max-height: 260px;
    }

    .product_pod h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .product_pod:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .product_pod .price_color {
        margin-top: 0;
        margin-bottom: 0;
    }

    .product_pod .image_container {
        min-height: 100px;
        max-height: 160px;
        padding-bottom: 7px;
        margin-bottom: 0;
    }

    .product_pod .availability {
        min-height: 40px;
    }

    .nav li a {
        font-size: larger;
        position: relative;
        display: block;
    }

    .nav li li a {
        font-size: small;
    }

    ol.row {
        margin-left: -15px;
    }
</style>
{% endblock %}

{% block content_wrapper %}
<div class="container-fluid page" style="position: relative; z-index: 5;">
    <div class="page_inner">
        {% include "oscar/partials/mini_basket.html" %}
        {% block breadcrumbs %}{% endblock %}
        <div class="row">

            <aside class="sidebar col-sm-4 col-md-3">
                {% block column_left %}{% endblock %}
            </aside>

            <div class="col-sm-8 col-md-9">
                {% block header %}
                <div class="page-header action">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
                {% endblock %}

                {% include "oscar/partials/alert_messages.html" %}

                {% block content %}{% endblock %}
            </div>

        </div><!-- /row -->
    </div><!-- /page_inner -->
</div><!-- /container-fluid -->
{% endblock %}